---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import NatTest from "@/components/tools/NatTest.svelte";
---

<MainGridLayout title="NAT类型测试" description="检测您的网络NAT类型和公网IP地址">
	<div class="card-base p-6 md:p-8">
		<NatTest client:only="svelte" />
	</div>
</MainGridLayout>
